# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
.python-version

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# Type checkers / linters
.mypy_cache/
.dmypy.json
.dmypy/
.pyre/
.pytype/
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm / IntelliJ
.idea/

# VS Code
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Django/Flask/etc.
*.mo
*.pot
instance/

# Local environment variables
.env
.env.*
*.env

# Sphinx documentation
docs/_build/

# C extensions
*.so

# PyBuilder
.pybuilder/

# Celery
celerybeat-schedule

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site/
